<div class="container">
    
    <div class="missioncontainer">
      <table>
        <tr>
          <td>
            <img id="logo" src="../assets/coolcatboba.png" alt="">
          </td>
          <td>
            <div class="mission"><span class="highlight">Our mission:</span>
              
              <br>Our purpose is to improve people's lives and communities via literacy, lifelong learning, and access to knowledge
              <br><br>
              <span class="highlight">About us:</span>
              <br>Hi, welcome to the website of the Boba tea Library. There are three Boba Tea Libraries in Toronto, if you want to get to the library in-person, you can check those addresses within the contact information area. In this website, you can read most of the books online by sign up an account. Also, if you borrow some books from our Libraries, you can borrow it again through this website before the deadline of that book.
              
            </div>
          </td>
        </tr>
      </table>
    </div>  
      
  
    

    <div class="topbooks">
      <table>
        <tr>
          <td class="highlight">Top books</td>
        </tr>
        <tr>
          <td>
            <img src="https://cdn.codegym.cc/images/article/bbcda54e-3cd0-4dac-a77a-447484b8b487/512.webp" alt="">
            <img src="https://m.media-amazon.com/images/I/4168NWgku8L._AC_UF1000,1000_QL80_.jpg" alt="">
            <img src="https://cdn.kobo.com/book-images/80708cef-c25e-4f88-83a7-d3ebf23e7e20/353/569/90/False/introduction-to-java-programming.jpg" alt="">
          </td>
          <td>
            <span class="highlight">Contact information:</span>
            <br>Address 1: 123, Boba Street 365, Toronto, ON
            <br>Address 2: 122, Boba Street 108, Toronto, ON
            <br>Address 3: 255, Boba Street 166, Toronto, ON
            <br>Email:  BobaLibrary@email.com
            <br>Phone number: 12345678

          </td>
        </tr>
      </table>
      
    </div>
  </div>